* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > .container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

div.div-line {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  width: 100%;
  height: 2px;
  margin: 8px 0;
}

/* Navbar */
.navbar {
  background-color: #7fa8ff;
  padding: 16px 0;
}

.nb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}

.nb-title {
  font-size: 20px;
  font-weight: 800;
}

.nb-toggle {
  --btn-opacity: 0.5;
  --btn-color: rgba(0, 0, 0, var(--btn-opacity));
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 6px;
  background: transparent;
  border: none;
}

.nb-toggle > .nb-i-line {
  width: 30px;
  height: 2px;
  background-color: var(--btn-color);
  transition: background-color 0.4s ease;
}

.nb-toggle:hover {
  --btn-opacity: 1;
}

/* Sidebar */
.sidebar {
  --s-max-w: 0;
  position: absolute;
  background-color: #17171a;
  max-width: var(--s-max-w);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  transition: max-width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.active {
  --s-max-w: 340px;
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    --s-max-w: 340px;
  }

  .sidebar.active {
    --s-max-w: 0;
  }

  /* .nb-toggle {
    display: none;
  } */
}

.sb-container {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  justify-content: space-between;
  height: 100%;
}

.sb-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.sb-body::-webkit-scrollbar {
  width: 12px;
}

.sb-body::-webkit-scrollbar-thumb {
  background: #ffffff1a;
  border-radius: 6px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.sb-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.sb-title {
  color: #eee;
  font-size: 20px;
  text-align: center;
}

.sb-item {
  --text-opacity: 0.5;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 10px;
  padding: 10px;
  color: rgba(255, 255, 255, var(--text-opacity));
  text-decoration: none;
  transition: color 0.3s;
}

.sb-item:hover {
  --text-opacity: 1;
}

.sb-item > img {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 30px;
  padding: 5px;
  transition: background-color 0.4s;
}

.sb-item:hover > img {
  background-color: #7fa8ff;
}

.sb-footer {
  display: flex;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  align-items: center;
  gap: 15px;
}

.sb-footer > .user-img {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sb-footer > .user-name {
  color: #fff;
  white-space: nowrap;
}

.sb-footer > .sb-settings-btn,
.sb-footer > .sb-logout-btn {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.sb-footer > .sb-settings-btn {
  margin-left: auto;
}

.sb-footer > .sb-settings-btn > img,
.sb-footer > .sb-logout-btn > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.4s;
}

.sb-footer > .sb-settings-btn:hover,
.sb-footer > .sb-logout-btn:hover > img {
  opacity: 1;
}

/* Content */
.content {
  background-color: #ddd;
  width: 100vw;
  padding: 10px;
}
